{

    margin: 0;
}

header{
background-color: aquamarine;
display: flex;
padding: 12px;
justify-content: space-around;
background-color:aquamarine;
color:white;
position:relative;
}

ul li{
    list-style: none;
}

.texto{
    color:white;
}

a{
    color:white;
    text-decoration: none;
}

.lista{
    display: none;
    position: absolute;
    top: 100%;
    background-color: green;
    width: 100%
    padding: 20px 0;
    text-align: center;

}

.caixa:checked ~ .lista{
    display: block;
}

#menu{
    display: none;
}

.lista-item{
    padding: 12px 0;
}



@media screen and (min-width: 1024px) {
    
}
@media screen and (min-width: 1728px) {

}

